@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --christmas-font: 'Mountains of Christmas', cursive;
    --text-font: 'Pacifico', cursive;
}

                            /********* GENERAL CLASSES *********/

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.aic{
    align-items: center;
}

.jcc{
    justify-content: center;
}


                            /***************** GENERAL STYLE ******************/

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#container-page{
    /* background-color: black; */
    min-height: 100vh;
    width: 100%;
}


                            /************* HEADER *******************/

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100vw;
}

nav, #nav-items{
    background-color: black;
    font-family: var(--christmas-font);
    height: 7vh;
    width: 100%;
}

#nav-items li a:hover{
    color: red;
    border-bottom: 2px dashed green;
}

#nav-items a{
    color: white;
}

nav #nav-items{
    justify-content: space-evenly;
    font-size: 1.5rem;
}

                                /************  MAIN *****************/

#main{
    /* margin-top: 7vh; */
    background-color: #000109;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 100%;
}

                                /*************  SECTION HOME **************/

#home{
    min-height: 100vh;
    background: url(../img/landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home #container-title{
    position: relative;
}

#home h1{
    font-family: var(--christmas-font);
    font-size: 4rem;
    color: #FFD700;
}

#snow1,#snow2{
    font-size: 5rem;
}

#home #container-title #snow1{
    position: absolute;
    top: -5rem;
    left: -5rem;
    color: green;
}


#home #container-title #snow2{
    position: absolute;
    bottom: -5rem;
    right: -5rem;
    color: red;
}


                            /********* SECTION CHRISTMAS **********/

#christmas{
    padding-top: 7vh;
    min-height: 100vh;
}

#christmas #title-christmas{
    margin-top: 5vh;
    position: relative;
}

#christmas h2{
    font-family: var(--christmas-font);   
    font-size: 4rem;
}

.bar{
    width: 60%;
    border-top: 2px dotted white;
}

#christmas #title-christmas i{
    font-size: 4rem;
}

#christmas #title-christmas #tree1{
    position: absolute;
    bottom: 0;
    left: -10rem;
    color: rgb(3, 61, 26);
    animation: colorAnimation2 5s linear infinite;
}

#christmas #title-christmas #tree2{
    position: absolute;
    bottom: 0;
    right: -10rem;
    color: rgb(3, 61, 26);
    animation: colorAnimation2 5s linear infinite;
}

#christmas #christmas-main{
    padding: 20px;
    margin-top: 10vh;
    width: 80%;
    min-height: 10vh;
    justify-content: space-between;
}

#christmas #christmas-main #christmas-paragraph{
    width: 45%;
    height: 50vh;
    padding: 10px;
    font-size: 1.7rem;
    font-family: var(--text-font);
    text-align: justify;
    color: #FFD700;
}

#christmas #christmas-main #christmas-img{
    border: 2px solid white;
    width: 40%;
    height: 50vh;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#christmas #christmas-main #christmas-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 2px;
}



                                /********** SECTION TRADITION ************/

#tradition{
    padding-top: 7vh;
    min-height: 100vh;
}

#tradition #title-tradition{
    margin-top: 3vh;
    position: relative;
}

#tradition h2{
    font-family: var(--christmas-font);   
    font-size: 4rem;
}

#tradition #title-tradition i{
    font-size: 4rem;
}

#tradition #title-tradition #candy1{
    position: absolute;
    bottom: 0;
    left: -10rem;
    color: rgb(161, 7, 7);
    animation: colorAnimation2 5s linear infinite;
}

#tradition #title-tradition #candy2{
    position: absolute;
    bottom: 0;
    right: -10rem;
    color: rgb(161, 7, 7);
    animation: colorAnimation2 5s linear infinite;
}

#tradition #container-traditions{
    width: 90%;
    min-height: 40vh;
    margin-top: 20vh;
    justify-content: space-between;
 
}

#tradition #container-traditions .traditions{
    width: 450px;
}

#tradition #container-traditions .traditions .img-container{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 3px solid #FFD700;
    overflow: hidden;
    background-color: rgb(206, 204, 204);
}

#tradition #container-traditions .traditions .img-container:hover img{
    filter: grayscale(1);
}

#tradition #container-traditions .traditions img{
    height: auto;
    width: 100%;
}

#tradition #container-traditions .traditions .texte-trad{
    font-family: var(--text-font);
    color: #FFD700;
    font-size: 1.5rem;
    text-align: center;
    
}


                                    /********* SECTION SANTA **************/

#santa{
padding-top: 7vh;
    min-height: 100vh;
}
                                    
#santa #title-santa{
    margin-top: 3vh;
    position: relative;
}
                                    
#santa h2{
    font-family: var(--christmas-font);   
    font-size: 4rem;
}

#santa #title-santa i{
    font-size: 4rem;
}

#santa #title-santa #gift1{
    position: absolute;
    bottom: 0;
    left: -10rem;
    color: rgb(149, 0, 0);
    animation: colorAnimation2 5s linear infinite;
}

#santa #title-santa #gift2{
    position: absolute;
    bottom: 0;
    right: -10rem;
    color: rgb(149, 0, 0);
    animation: colorAnimation2 5s linear infinite;
}

#container-points{
    gap: 100px;
}

#santa .point{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    animation: colorAnimation 5s linear infinite;
    background-color: red;
}

@keyframes colorAnimation
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

@keyframes colorAnimation2
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(50deg);
    }
}

#santa #santa-main{
    font-family: var(--text-font);
    height: 79vh;
}

#santa #santa-main h3{
    font-size: 4rem;
}

#santa #santa-bottom{
    min-height: 100vh;
    width: 100%;
    font-family: var(--text-font);
    color: #FFD700;
    font-size: 1.5rem;
    text-align: center;
}

#santa #santa-bottom #container-img-santa{
    width: 80%;
    height: 70vh;
    overflow: none;
    background: url(../img/santa.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 7%;
}

#santa #santa-bottom #container-img-santa:hover{
    filter: grayscale(0.3);
}

#santa #surprise{
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#snowflake1{
    position: absolute;
    top: 0;
    left: 5%;
    height: 50px;
    width: 50px;
    background: url(../img/snowflake.png);  
    background-repeat: no-repeat;
    background-size: cover;  
    animation: animateSnow 8s linear infinite;
    z-index: 1;
}

@keyframes animateSnow
{
    0%
    {
        top: 0 0;
    }
    100%
    {
        top:  100%;
        left: 25%;
    }
}

#snowflake2{
    position: absolute;
    top: 0;
    left: 25%;
    height: 50px;
    width: 50px;
    background: url(../img/snowflake.png);  
    background-repeat: no-repeat;
    background-size: cover;  
    animation: animateSnow2 10s linear infinite;
    z-index: 1;
}

@keyframes animateSnow2
{
    0%
    {
        top: 0 0;
    }
    100%
    {
        top:  100%;
        left: 15%;
    }
}

#snowflake3{
    position: absolute;
    top: 0;
    right: 10%;
    height: 50px;
    width: 50px;
    background: url(../img/snowflake.png);  
    background-repeat: no-repeat;
    background-size: cover;  
    animation: animateSnow3 10s linear infinite;
    z-index: 1;
}

@keyframes animateSnow3
{
    0%
    {
        top: 0 0;
    }
    100%
    {
        top:  100%;
        right: 35%;
    }
}

#snowflake4{
    position: absolute;
    top: 0;
    right: 45%;
    height: 50px;
    width: 50px;
    background: url(../img/snowflake.png);  
    background-repeat: no-repeat;
    background-size: cover;  
    animation: animateSnow4 7s linear infinite;
    z-index: 1;
}

@keyframes animateSnow4
{
    0%
    {
        top: 0 0;
    }
    100%
    {
        top:  100%;
        right: 35%;
    }
}

#snowflake5{
    position: absolute;
    top: 0;
    right: 15%;
    height: 50px;
    width: 50px;
    background: url(../img/snowflake.png);  
    background-repeat: no-repeat;
    background-size: cover;  
    animation: animateSnow5 9.5s linear infinite;
    z-index: 1;
}

@keyframes animateSnow5
{
    0%
    {
        top: 0 0;
    }
    100%
    {
        top:  100%;
        right: 2%;
    }
}

#snowflake6{
    position: absolute;
    top: 0;
    right: 55%;
    height: 50px;
    width: 50px;
    background: url(../img/snowflake.png);  
    background-repeat: no-repeat;
    background-size: cover;  
    animation: animateSnow6 9s linear infinite;
    z-index: 1;
}

@keyframes animateSnow6
{
    0%
    {
        top: 0 0;
    }
    100%
    {
        top:  100%;
        right: 50%;
    }
}

#santa #surprise #snowman{
    position: absolute;
    height: 70%;
    width: 50%;
    left: 25%;
    bottom: 0;
    /* border: 1px solid red; */
}

#santa #surprise #snowman img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.burger {
    display: none;
}


                        /* RESPONSIVE */


/*Tablette*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    #home{
        background-position: 80% 20%;
    }
    
    #home h1{
        font-size: 3.1rem;
    }
    

    #christmas #christmas-main{
        flex-direction: column;
    }

    #christmas #christmas-main #christmas-paragraph{
        width: 80%;
    }

    #christmas #christmas-main #christmas-img{
        width: 90%;
    }

    #tradition #container-traditions{
        flex-direction: column;
        gap: 100px;
    }

    #santa #santa-bottom{
        width: 80%;
    }

    .burger {
        display: none;
    }
    

}

/*Smartphone*/

@media screen and (max-width: 728px) {

    #home{
        background-position: 80% 20%;
    }
    
    #home h1{
        font-size: 1.8rem;
    }

    #snow1,#snow2{
        font-size: 2.5rem;
    }
    
     #home #container-title #snow1{
        top: -2.5rem;
        left: -1.5rem;
    }
    
    #home #container-title #snow2{
        bottom: -2.5rem;
        right: -1.5rem;
    }
     
    #christmas #christmas-main{
        flex-direction: column;
    }

    #christmas #title-christmas{
        margin-top: 5vh;
        position: relative;
    }
    
    #christmas h2,
    #tradition h2,
    #santa h2{
        font-size: 3.9rem;
    }
    
    #christmas #title-christmas i{
        font-size: 3.9rem;
    }
    
    #christmas #title-christmas #tree1,
    #tradition #title-tradition #candy1,
    #santa #title-santa #gift1{
        left: -4rem;
    }
    
    #christmas #title-christmas #tree2,
    #tradition #title-tradition #candy2,
    #santa #title-santa #gift2{
        right: -4rem;
    }

    #christmas #christmas-main #christmas-paragraph{
        width: 90%;
    }

    #christmas #christmas-main #christmas-img{
        width: 100%;
    }

    #christmas #christmas-main #christmas-img img{
        object-position: -60px;
    }

    #tradition #container-traditions{
        flex-direction: column;
        gap: 100px;
    }

    #tradition #container-traditions .traditions{
        width: 300px;
    }
    
    #tradition #container-traditions .traditions .img-container{
        width: 100%;
        height: 300px;
    }

    #santa #santa-bottom #container-img-santa{
        width: 90%;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav #nav-items {
        flex-direction: column;
        height: auto;
        margin-top: 0;
        top: 0;
        position: absolute;
        transform: translateY(-250px);
    }

    /*Menu burger*/
    .burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar-burger {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        transition: all .5s ease-in-out;
    }

    .bar-burger::before,
    .bar-burger::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }


    /*Ici on indique à combien de pixels se trouvent les barres du dessous et du dessus*/
    .bar-burger::before {
        transform: translateY(-12px)
    }

    .bar-burger::after {
        transform: translateY(12px)
    }

    nav{
        background-color: black;
    }

        /*Cette class show-nav a été ajoutée à partir du code JS, elle permet de réafficher les éléments (placés auparavant dans la partie non visible de l'écran en haut*/
        .show-nav #nav-items {
            /*Il faut à nouveau ajouter la couleur de fond car sinon les éléments sortent du flux (=ils sortent du menu)*/
            background-color: black;
            /*La taille que prennent  les éléments par rapport à la largeur du viewport*/
            width: 100vw;
            height: 100vh;
            /*On remet les éléments à leur place d'origine*/
            transform: translateY(0);
            transition: 2s;
        }
    
        .show-nav .burger {   
            transition: 2s;
        }


}